DATABASE_URL=postgresql://leb:leb@localhost:5432/leb
AUTH_SECRET=KmGHliq09q9rP+iIEeRiYmjjGFdmvKbMPlFwtZvGh/eo
AUTH_URL=http://localhost:3000

# Resend (transactionnel email)
RESEND_API_KEY=
RESEND_FROM_EMAIL=contact@lectureetboutures.fr
RESEND_TO_EMAIL=contact@lectureetboutures.fr

# Loops (newsletter)
LOOPS_API_KEY=

# Umami (analytics)
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
NEXT_PUBLIC_UMAMI_HOST=https://cloud.umami.is